  <p>Tipos Input</p>
  <form name="myForm"  >
  <table><tr><td>
  Text:  <input type="text" ng-model="ejemploText.text" name="inputText"  required>
  {{myForm.inputText.$valid}} 
  </td>
	</tr>
  <tr>
  <td>
  Numerico:
  <input type="number" name="inputNumber" ng-model="ejemploNumber.value" min="0" max="99"  required> 
    	{{myForm.inputNumber.$valid}}

	</td>
	</tr>
  <tr>
  <td>  	
	URL:
	<input type="url" name="inputUrl" ng-model="ejemploUrl.text"  required >
	  {{myForm.inputUrl.$valid}}
	</td>
	</tr>
  <tr>
  <td>
   Email:
	<input type="email" name="inputEmail" ng-model="ejemploEmail.text"  required >
	    {{myForm.inputEmail.$valid}}
	</td>
	</tr>
  <tr>
  <td>
  Checkbox:
	<input type="checkbox" ng-model="ejemploCheck">Activa Boton
	<button ng-disabled="ejemploCheck">Activo Checkbox</button>
	<span   ng-show="ejemploCheck">texto Mostrar</span>
	</td>
	</tr>
  <tr>
  <td>  	
	 Radio para Frutas:
	 <input type="radio" ng-model="ejemploRadio" value="Manzana">Manzana
	 <input type="radio" ng-model="ejemploRadio" value="Pera">Pera
	 <input type="radio" ng-model="ejemploRadio" value="Mora">Mora

  </td>
	</tr>
  <tr>
  <td>  	
  Date:
  <input type="date" ng-model="ejemploFecha"  required >
  </td>
	</tr>
  <tr>
  <td>
  Ingresar hora entre  6am and 1pm:(Time)
  <input type="time" name="nInputTime" ng-model="ejemploTime.value"
       placeholder="HH:mm:ss" min="06:00:00" max="13:00:00"  required > {{ ejemploTime.value | date: "HH:mm:ss" }}
  <div role="alert_time">
   <span class="error" ng-show="myForm.nInputTime.$error.required">
       La Hora es requerida</span>
   <span class="error" ng-show="myForm.nInputTime.$error.time">
       No es una Hora Valida</span>
  </div>
	</td>
	</tr>
  <tr>
  <td>
  	
  Fecha entre 2014 y 2015:(datetime-local)
  <input type="datetime-local"  name="inputDataTime" ng-model="ejemploDataTime.value"
     placeholder="yyyy-MM-ddTHH:mm:ss" min="2014-01-01T00:00:00" max="2015-12-31T00:00:00"  required >
  {{ ejemploDataTime.value | date: "yyyy-MM-ddTHH:mm:ss"}}
	<div role="alert_dataTime">
    <span class="error" ng-show="myForm.inputDataTime.$error.required">
        La fecha es requerida</span>
    <span class="error" ng-show="myForm.inputDataTime.$error.datetimelocal">
	        No es una fecha valida!</span>
	</div>
	
	</td>
	</tr>
  <tr>
  <td>
  	
	Seleccionar Mes:
  <input type="month" ng-model="ejemploMonth.value"  required > {{ ejemploMonth.value | date: "yyyy-MM" }}
  Seleccionar Semana:
  <input type="week" name="ejemploWeekYear"  required >

  </td>
	</tr>
  <tr>
  <td>  	
  <button ng-click="eventoClick()"> Mostrar </button>
  		 	
	<div ng-repeat="obj in angular_input">
        {{obj.campoText    }} -
  		{{obj.campoNumber  }} -
  		{{obj.campoCheck   }} -
  		{{ obj.campoMonth | date: "yyyy-MM" }} -
  	 	{{ obj.campoDataTime | date: "yyyy-MM-ddTHH:mm:ss"}} -
  	 	{{ obj.campoTime | date: "HH:mm:ss" }} -
  		{{obj.campoEmail   }} -
  		{{obj.campoUrl     }} -
  		{{obj.campoRadio   }}
  		
  </div>
    

</form>