<ion-view title="Device" id="page2">
    <ion-content padding="true" class="has-header">

		<button id="page-button1" class=" button button-positive  button-block " ng-click="getDeviceInformation()">Activar Plugin Device</button>
        <ion-list id="page-list1" class=" ">        
            <ion-item id="page-list-item1" class="  " >Device:{{device}}</ion-item>
            <ion-item id="page-list-item2" class="  " >Cordova:{{cordova}}</ion-item>
            <ion-item id="page-list-item3" class="  ">Model:{{model}}</ion-item>
            <ion-item id="page-list-item4" class="  ">Platform:{{platform}}</ion-item>
            <ion-item id="page-list-item5" class="  ">uuid:{{uuid}}</ion-item>
            <ion-item id="page-list-item6" class="  ">version:{{version}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>