<ion-view title="DeviceOrientation" id="page5">
    <ion-content padding="true" class="has-header">

<button id="btnOrienta" class=" button button-positive  button-block " ng-click="getDeviceOrientationInformation()">Activar Plugin DeviceOrientation</button>
        <ion-list id="page-list1" class=" ">        
            <ion-item id="page-list-item1" class="  " >magneticHeading:{{magneticHeading}} {{otro}} </ion-item>
            <ion-item id="page-list-item2" class="  " >trueHeading:{{trueHeading}}</ion-item>
            <ion-item id="page-list-item3" class="  ">headingAccuracy:{{headingAccuracy}}</ion-item>
            <ion-item id="page-list-item4" class="  ">timestamp:{{timestamp}}</ion-item>
         
        </ion-list>
    </ion-content>

</ion-view>