<ion-view title="DeviceMotion" id="page3">
    <ion-content padding="true" class="has-header">
<button id="page-button1" ng-click="getWatchDeviceMotion()" class=" button button-positive  button-block ">Device Motion</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">x:{{x}}</ion-item>
            <ion-item id="page-list-item2" class="  ">y:{{y}}</ion-item>
            <ion-item id="page-list-item3" class="  ">z:{{z}}</ion-item>
            <ion-item id="page-list-item4" class="  ">TimeStamp:{{timeStamp}}</ion-item>
        </ion-list>
        <button id="page-button2" class=" button button-assertive  button-block " ng-click="getStopWatchDeviceMotion()">Detener</button>
    </ion-content>
</ion-view>