<ion-view title="Network" id="page4">
    <ion-content padding="true" class="has-header">

    <button id="page-button1" class=" button button-positive  button-block " ng-click="getDeviceInformation()">Device NetWork</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">Tipo:{{type}}</ion-item>
            <ion-item id="page-list-item2" class="  ">OnLine:{{isOnline}}</ion-item>
            <ion-item id="page-list-item3" class="  ">OffLine:{{isOffline}}</ion-item>

            <ion-item id="page-list-item4" class="  ">onlineState:{{onlineState}}</ion-item>
            <ion-item id="page-list-item5" class="  ">offlineState:{{networkOffline}}</ion-item>            
         
        </ion-list>

        </ion-content>
</ion-view>