<ion-view title="plugins" id="page1">
    <ion-content padding="true" class="has-header">
        <a ui-sref="device" id="plugins-button1" class=" button button-positive  button-block ">Device</a>
        <a ui-sref="network" id="plugins-button2" class=" button button-positive  button-block ">Network</a>
        <a ui-sref="deviceMotion" id="plugins-button3" class=" button button-positive  button-block ">DeviceMotion</a>
        <a ui-sref="deviceOrientation" id="plugins-button4" class=" button button-positive  button-block ">DeviceOrientation</a>
        <a ui-sref="dialogs" id="plugins-button5" class=" button button-positive  button-block ">Dialogs</a>
    </ion-content>
</ion-view>